<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dbsigurd_mytodolist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dbsigurd_mytodolist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.DisplayOptions"
            android:label="@string/title_activity_display_options" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.Options"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.ViewArchive"
            android:label="@string/title_activity_view_archive" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.MassOptions"
            android:label="@string/title_activity_mass_options" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.ArchivedOptions"
            android:label="@string/title_activity_archived_options" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.Archived_Options"
            android:label="@string/title_activity_archived__options" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name="com.example.dbsigurd_mytodolist.SelectToDos"
            android:label="@string/title_activity_select_to_dos" >
        </activity>
    </application>

</manifest>
